﻿<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Monthly</span>
                            <h5>Income</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">40 886,200</h1>
                            <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                            </div>
                            <small>Total income</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">Annual</span>
                            <h5>Orders</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">275,800</h1>
                            <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i>
                            </div>
                            <small>New orders</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Today</span>
                            <h5>Vistits</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">106,120</h1>
                            <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
                            </div>
                            <small>New visits</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-danger pull-right">Low value</span>
                            <h5>User activity</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">80,600</h1>
                            <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i>
                            </div>
                            <small>In first month</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="ibox-title">
                        <div class="pull-right" [ngSwitch]="loading">
                            <div *ngSwitchWhen="true">
                                <loading-indicator></loading-indicator>
                                <h2>Data Loading!</h2>
                            </div>
                            <div *ngSwitchWhen="false">
                                <button (click)='search(0)'>Refresh!</button>
                            </div>
                        </div>
                        <h5>Recant Transactions</h5>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-9">

                                    <table class="table table-hover no-margins">
                                        <thead>
                                        <tr>
                                            <th *ngFor="let col of cols">{{col.header}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let tran of _trans">
                                            <td class="text-navy">{{ tran['Id']}}</td>
                                            <td class="text-navy">{{ stringAsDate(tran['DateCreated']) | date:'short' }}</td>
                                            <td class="text-navy">{{ stringAsNumber(tran['Amount']) | currency:'USD':true : '1.2-2' }}</td>
                                            <td class="text-navy">{{ tran['CardNumber']}}</td>
                                            <td class="text-navy">{{ tran['NameOnCard']}}</td>
                                            <td class="text-navy">{{ tran['ResultMessage']}}</td>
                                            <td class="text-navy">{{ tran['RefNumber']}}</td>
                                            <td class="text-navy">{{ tran['TransactionNo']}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-3">
                                    <ul class="stat-list">
                                        <li>
                                            <h2 class="no-margins">2,346</h2>
                                            <small>Total orders in period</small>
                                            <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 48%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">4,422</h2>
                                            <small>Orders in last month</small>
                                            <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 60%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <h2 class="no-margins ">9,180</h2>
                                            <small>Monthly income from orders</small>
                                            <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i>
                                            </div>
                                            <div class="progress progress-mini">
                                                <div style="width: 22%;" class="progress-bar"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> Sequel Pay &copy; 2014-2016
            </div>
        </div>
    </div>

    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-3">

                <li class="active">
                    <a data-toggle="tab" href="#tab-1">
                        Notes
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-2">
                        Projects
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>


