﻿/* TOP BAR - Footer Styles */
.navbar-inverse .navbar-brand {
    color: #ddd;
}

.navbar-inverse {
    border-color: #080808;
    background-color: #0E0F0F !important;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #ddd;
    }

#nav-separator {
    margin-top: 60px;
}

footer {
    background-color: #F8F8F8;
}

#account-menu {
    margin-right: 35px;
}

/* END */

/**/
.picture-box {
    margin-bottom: 30px;
}

.album-thumbnail {
    height: 300px;
}

.album-box {
    margin-bottom: 30px;
}

.pagination > li {
    cursor: pointer;
}

#loginModal {
    margin-top: 80px;
}

#registerModal {
    margin-top: 40px;
}

.blue-thumb {
    border: 1px solid #31708F;
}

/* validation form controls */
.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.img-caption {
    margin: 0;
    background-color: whitesmoke;
}

.remove-caption {
    border-bottom: 1px solid #e6e6e6;
    padding: 2px;
    margin: 0 0 10px 0;
}

.dateCaption {
    padding: 6px 0;
}

.buttonCaption {
    padding: 0 !important;
}

/*loader*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: #31708f 1.5em 0 0 0, #31708f 1.1em 1.1em 0 0, #31708f 0 1.5em 0 0, #31708f -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #31708f 0 -1.5em 0 0, #31708f 1.1em -1.1em 0 0;
            box-shadow: #31708f 1.5em 0 0 0, #31708f 1.1em 1.1em 0 0, #31708f 0 1.5em 0 0, #31708f -1.1em 1.1em 0 0, #31708f -1.5em 0 0 0, #31708f -1.1em -1.1em 0 0, #31708f 0 -1.5em 0 0, #31708f 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.date-filter {
    background: #fff; 
    cursor: pointer; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;

}

.refresh-button {
    height: 40px;
}

.form-label {
    margin-top: 10px;
}

.invalid-input-label {
    color: #f00;
    font-size: 12px;    
    font-weight: normal;      
}

.transaction-table {
    font-size: 13px;
    border: 1px solid #dddddd;    
}

.transaction-table th {
    text-align: center;
    vertical-align: middle !important;
    background-color: #f5f5f5;
}

.col-green {
    color: green;
}

.transaction-table .img-card-type {
    margin-left: 80px;
}

.submit-button-container {
    min-height: 40px !important;    
}

.input-with-validation-container {
    min-height: 65px !important;    
}

.row-with-validation-container {
    margin-bottom: 0px !important;
}



.total-card-panel {
    padding: 15px 30px !important;
}