﻿<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h1 class="text-center">
                    <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>Login
                </h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" #hf="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Username" [(ngModel)]="_user.Username"
                               name="username" ngControl="username" required #username="ngForm"
                               [disabled]="authorizationRunning"/>
                        <div [hidden]="username.valid || username.untouched" class="alert alert-danger">
                            Username is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" placeholder="Password" [(ngModel)]="_user.Password"
                               name="password" ngControl="password" required #password="ngForm"
                               [disabled]="authorizationRunning"/>
                        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                            Password is required
                        </div>
                    </div>
                    <div class="form-group">
                        <button *ngIf="!authorizationRunning" class="btn btn-primary btn-lg btn-block" (click)="login()" [disabled]="!hf.form.valid">Sign In</button>
                        <div *ngIf="authorizationRunning">
                            <span>Authorization...</span>
                            <loading-indicator></loading-indicator>
                        </div>                        
                        <!--<span class="pull-right">
                            <a [routerLink]="[routes.register.name]">Register</a>
                        </span>-->
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" [(ngModel)]="_user.RememberMe" [disabled]="authorizationRunning"> Remember me
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--Hide for now-->
                <!--<div class="col-md-12">
                    <a class="btn btn-danger pull-left" [routerLink]="[routes.login.name]" data-dismiss="modal" aria-hidden="true">Cancel</a>
                </div>-->
            </div>
        </div>
    </div>
</div>