﻿@{
    ViewBag.Title = "Sequel Pay";
}

@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet"/>

    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/lib/css/alertify.core.css" rel="stylesheet"/>
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet"/>

    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/css/animate.css" rel="stylesheet"/>
    <link href="~/lib/css/style.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="node_modules/primeui/themes/omega/theme.css"/>
    <link rel="stylesheet" type="text/css" href="node_modules/primeui/primeui-ng-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="app/resources/icons/css/font-awesome.min.css"/>
    <link href="~/lib/css/alertify.default.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="~/lib/css/inspinia/animate.css"/>
    <link rel="stylesheet" type="text/css" href="~/lib/css/inspinia/style.css"/>
    <link rel="stylesheet" type="text/css" href="~/lib/css/inspinia/morris-0.4.3.min.css"/>
}

<div id="nav-separator"></div>

<sequelpay-app>
    <div class="loading">Loading</div>
</sequelpay-app>


@section scripts
{
    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
    <!-- Morris -->
    <script src="~/lib/js/inspinia/raphael-2.1.0.min.js"></script>
    <script src="~/lib/js/inspinia/morris.js"></script>
    <script src="~/lib/js/inspinia/inspinia.js"></script>
    <script src="~/lib/js/inspinia/pace.min.js"></script>
}

@section customScript
{
    System.import('app').catch(console.log.bind(console));
    $(document).ready(function() {
    $('.fancybox').fancybox();
    });
}