﻿<div id="wrapper" class="gray-bg">
    <div id="page-wrapper" class="gray-bg">

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Transactions
                                <span *ngIf="!isShowForAllDates">
                                    for  {{startDateCaption | date}} - {{endDateCaption | date}}
                                </span>
                                <span *ngIf="isShowForAllDates">
                                    by specific card
                                </span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="cardTotals && cardTotals.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Totals
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="ibox">
                                        <div class="row">
                                                    <div *ngFor="let cardTotal of cardTotals" class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                                                        <img class="img-card-type" src={{getCardTypeImg64Src(cardTotal.CardType)}} />
                                                        <div>
                                                            {{cardTotal.Count}}
                                                        </div>
                                                        <div>
                                                            Transactions
                                                        </div>
                                                        <strong class="margin-bottom-10">{{cardTotal.Amount | currency:'USD':true:'1.2-2'}}</strong>
                                                        <span class="hidden-lg hidden-md"><hr><br></span>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 margin-bottom-10">
                                                        <h4 class="col-green"><strong>Total</strong></h4>
                                                        <div>
                                                            {{length}}
                                                        </div>
                                                        <div>
                                                            Transactions
                                                        </div>
                                                        <div class="col-green">
                                                            <strong>
                                                                {{totalByAllCards | currency:'USD':true:'1.2-2'}}
                                                            </strong>
                                                        </div>
                                                    </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Transaction&nbsp;<small>list</small></h5>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#search">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search&nbsp;</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="ibox row">
                                <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover transaction-table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th width="160px">Transaction Date</th>
                                                    <th>Type</th>
                                                    <th width="100px">Invoice#</th>
                                                    <th width="50px">Status</th>
                                                    <th width="50px">Customer</th>
                                                    <th width="170px">Payment Information</th>
                                                    <th>Amount</th>
                                                    <th>Result Text</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let trans of _trans" (contextmenu)="onContextMenu($event, trans)">
                                                    <td class="text-center col-green">{{trans.Id}}</td>
                                                    <td class="text-center">{{stringAsDate(trans.DateCreated) | date:'short'}}</td>
                                                    <td class="text-center">{{trans.TransType}}</td>
                                                    <td class="text-center">{{trans.TransactionNo}}</td>
                                                    <td class="text-center">{{trans.ResultCode}}</td>
                                                    <td class="text-left">{{trans.NameOnCard}}</td>
                                                    <td class="text-left">
                                                        <div *ngIf="trans.CardNumber && trans.CardNumber.length">
                                                            <img src={{trans.cardImgSrc}} />&nbsp;
                                                            <span class="text-left">
                                                                {{trans.CardNumber}}
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td class="text-right col-green">{{trans.Amount | currency:'USD':true:'1.2-2'}}</td>
                                                    <td class="text-left">{{trans.ResultMessage}}</td>
                                                </tr>
                                                <context-menu></context-menu>
                                            </tbody>
                                        </table>
                                    </div>
                                    <pagination *ngIf="config.paging && _trans && _trans.length"
                                                class="pagination-sm"
                                                [(ngModel)]="page"
                                                [totalItems]="length"
                                                [itemsPerPage]="itemsPerPage"
                                                [maxSize]="maxSize"
                                                [boundaryLinks]="true"
                                                [rotate]="false"
                                                (pageChanged)="onChangeTable(config, $event)"
                                                (numPages)="numPages = $event">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="adduser" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search&nbsp;<small>(transaction filters)</small></h4>
            </div>
            <div class="modal-body">
                <form [ngFormModel]="filterForm" #filterFormIdentity="ngForm">
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label form-label text-right">Date</label>
                        <div class="col-sm-4">
                            <div id="reportrange" #dateFilter class="date-filter">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span></span> <b class="caret"></b>
                            </div>
                        </div>
                        <label class="col-sm-2 form-control-label form-label text-right">Card type</label>
                        <div class="col-sm-4">
                            <select #cardTypeFilter class="form-control" [(ngModel)]="selectedCardType">
                                <option *ngFor="let cardName of cardsService.getCardNames()" [value]="cardsService.getCardTypeByName(cardName)">{{cardName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row row-with-validation-container">
                        <label class="col-sm-2 form-control-label form-label text-right">Transaction result</label>
                        <div class="col-sm-4">
                            <select #tranResultFilter class="form-control" [(ngModel)]="transactionResult">
                                <option *ngFor="let transactionResult of transactionResults" [value]="transactionResult.value">{{transactionResult.name}}</option>
                            </select>
                        </div>
                        <label class="col-sm-2 form-control-label form-label text-right">Last 4 card digits</label>
                        <div class="col-sm-4 input-with-validation-container">
                            <input #cardNumberFilter type="text" class="form-control" placeholder="Enter last 4 card digits" [(ngModel)]="lastFourDigitsCard" ngControl="cardNumber">
                            <label *ngIf="!filterForm.controls.cardNumber.valid" class="invalid-input-label">Only 4 digits allowed</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label form-label text-right">Invoice #</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter invoice #" [(ngModel)]="invoiceFilter">
                        </div>
                        <label class="col-sm-2 form-control-label form-label text-right">Customer</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter customer" [(ngModel)]="customerName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label form-label text-right">Amount from</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input class="form-control text-right" type="number" min="0" step="0.01" dat [(ngModel)]="amountFrom" />
                            </div>
                        </div>
                        <label class="col-sm-2 form-control-label form-label text-right">Amount to</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input class="form-control text-right" type="number" min="0" step="0.01" dat [(ngModel)]="amountTo" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="submit-button-container" [ngSwitch]="loading">
                    <div *ngSwitchWhen="true">
                        <button class="btn btn-primary" disabled>Refresh&nbsp;<i class="fa fa-spin fa-refresh"></i></button>
                    </div>
                    <div *ngSwitchWhen="false">
                        <button class="btn btn-primary" (click)='refresh()' [disabled]="!filterFormIdentity.form.valid">Refresh&nbsp;<i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
