﻿<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="[routes.transactions.name]">
                <img src="'../../lib/img/logo.png" class="img-fluid"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">                
                    <li *ngIf="isUserLoggedIn()"><a [routerLink]="[routes.transactions.name]"><i class="fa fa-picture-o fa-fw"></i>Transactions</a></li>
                    <li><a [routerLink]="[routes.dashboard.name]"><i class="fa fa-picture-o fa-fw"></i>Dashboard</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>&nbsp;{{getUserName()}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/UserList']"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Users</a>
                        </li>
                        <li *ngIf="!isUserLoggedIn()">
                            <a [routerLink]="['/Account/Login']"><i class="fa fa-unlock-alt fa-fw"></i>&nbsp;Sign in</a>
                        </li>
                        <li *ngIf="isUserLoggedIn()">
                            <a [routerLink]="[routes.home.name]" (click)="logout()"><i class="fa fa-power-off fa-fw"></i>&nbsp;Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!--<footer class="navbar navbar-fixed-bottom">
        <div class="container">
            <strong>Copyright</strong> Sequel Pay &copy; 2014-2016
        </div>
    </footer>-->
</nav>

<div>
    <router-outlet></router-outlet>
</div>

