﻿<div id="wrapper" class="gray-bg">
    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Today {{today | date}}</h5>
                        </div>
                        <div class="ibox-content">
                            <div *ngIf="cardTotals" class="row">
                                <div *ngFor="let cardTotal of cardTotals; let i = index" class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                    <div class="no-padding {{getCardWidgetClass(i)}}">
                                        <div class="p-xxs">
                                            <h2 class="m-xs">{{cardTotal.Amount | currency:'USD':true:'1.2-2'}}</h2>
                                            <h5 class="m-l-xs">{{cardTotal.Name}}</h5>                                    
                                        </div>
                                        <div class="p-xxs" style="background:rgba(0, 0, 0, 0.10);">
                                            <span class="m-l-xs">Transactions {{cardTotal.Count}}</span>
                                        </div>                                        
                                </div>
                                    <br class="hidden-lg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Live<small>chart</small></h5>
                            <div class="pull-right">
                                <button type="button" class="btn btn-xs" (click)="chartDateClick($event,7,'days')">Last 7 days</button>
                                <button #chartActiveButton type="button" class="btn btn-xs btn-primary" (click)="chartDateClick($event,30,'days')">last 30 days</button>
                                <button type="button" class="btn btn-xs" (click)="chartDateClick($event,3,'months')">last 3 months</button>
                            </div>
                            <div class="ibox-content" style="position: relative">
                                <sp-spiner [loading]="loading"></sp-spiner>
                                <div id="morris-area-chart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Sales <small>volume</small></h5>
                            <div class="pull-right">
                                <button #salesVolumeActiveButton type="button" class="btn btn-primary btn-xs" (click)="salesVolumeDateClick($event,30,'days')">Last 30 days</button>
                                <button type="button" class="btn  btn-default btn-xs" (click)="salesVolumeDateClick($event,3,'months')">last 3 months</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <sp-spiner [loading]="loadingSalesVolume"></sp-spiner>
                            <div *ngIf="salesVolume">
                                <div class="ibox">
                                    <div class="">
                                        <table class="table table-stripped">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-circle text-navy"></i>
                                                </td>
                                                <td>
                                                    Average amount per day {{salesVolume.AverageAmountPerDay | currency:'USD':true:'1.2-2'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-circle text-navy"></i>
                                                </td>
                                                <td>
                                                    Average transactions per day {{salesVolume.AverageTransactionsPerDay}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-circle text-navy"></i>
                                                </td>
                                                <td>
                                                    Quantity successful {{salesVolume.QuantitySuccessful}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-circle text-navy"></i>
                                                </td>
                                                <td>
                                                    Quantity unsuccessful {{salesVolume.QuantityUnsuccessful}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <div class="row ">
                                    <div class="col-xs-6">
                                        <h5 class="m-b-xs">Amount</h5>
                                        <h1 class="no-margins">{{salesVolume.Amount | currency:'USD':true:'1.2-2'}}</h1>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5 class="m-b-xs">Transactions</h5>
                                        <h1 class="no-margins">{{salesVolume.Quantity}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Weekly <small>sales volume</small></h5>
                            <div class="pull-right">
                                <button #salesVolumeWeeklyActiveButton type="button" class="btn btn-primary btn-xs" (click)="salesVolumeWeeklyDateClick($event,30,'days')">Last 30 days</button>
                                <button type="button" class="btn  btn-default btn-xs" (click)="salesVolumeWeeklyDateClick($event,3,'months')">last 3 months</button>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <sp-spiner [loading]="loadingSalesVolumeWeekly"></sp-spiner>
                            <table *ngIf="salesVolumeWeekly" class="table table-hover margin bottom">
                                <thead>
                                <tr>
                                    <th class="text-center">Week №</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let salesVolumeWeek of salesVolumeWeekly">
                                    <td class="text-center">{{salesVolumeWeek.WeekNumber}}</td>
                                    <td class="text-center">{{salesVolumeWeek.Quantity}}</td>
                                    <td class="text-center"><span class="label label-primary">{{salesVolumeWeek.Amount | currency:'USD':true:'1.2-2'}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
