﻿<div id="wrapper" class="gray-bg">
    <div id="page-wrapper" class="gray-bg">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Users<small>list</small></h5>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#adduser">&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Add user&nbsp;</button>
                            </div>
                           
                        </div>
                        <div class="ibox-content">
                            <div class="ibox">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                     <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="№" disabled> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary"  disabled>
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="User name"> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary">
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Email" disabled> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary"  disabled>
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="StoreId" disabled> <span class="input-group-btn">
                                                            <button type="button" class="btn btn-primary"  disabled>
                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                               </th>
                                                <th width="100px">
                                                    <select data-placeholder="Choose a role..." class="form-control m-b" tabindex="2">
                                                        <option value="">Role</option>
                                                        <option value="User">User</option>
                                                        <option value="User1">User1</option>
                                                    </select>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Project<small>This is example of project</small></td>
                                                <td>test@test.com</td>
                                                <td>85ba04bf-7694-436a-8f7c-49d58d395761</td>
                                                <td>User 1</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Alpha project</td>
                                                <td>test@test.com</td>
                                                <td>85ba04bf-7694-436a-8f7c-49d58d395761</td>
                                                <td>User 1</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Betha project</td>
                                                <td>test@test.com</td>
                                                <td>85ba04bf-7694-436a-8f7c-49d58d395761</td>
                                                <td>User 1</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Gamma project</td>
                                                <td>test@test.com</td>
                                                <td>85ba04bf-7694-436a-8f7c-49d58d395761</td>
                                                <td>User 1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="adduser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;New user&nbsp;</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="username">User name</label>
                        <input id="username" type="text" placeholder="Name" class="form-control" [(ngModel)]="userName" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="name@domain.com" class="form-control" [(ngModel)]="email" readonly
                               onfocus="this.removeAttribute('readonly');" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" [(ngModel)]="password" readonly
                               onfocus="this.removeAttribute('readonly');" />
                    </div>
                    <div class="form-group">
                        <label for="storeId">StoreId</label>
                        <input id="storeId" type="text" class="form-control" [(ngModel)]="storeId" readonly
                               onfocus="this.removeAttribute('readonly');" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="register()">Registr</button>
            </div>
        </div>
    </div>
</div>